<div class="container">
  <div class="row">
    <div class="col my-4 text-center">
      <h1>Tree List</h1>
    </div>
  </div>

  <div class="row">
    <div class="col mb-2">
      <div class="btn-group float-start" role="group" aria-label="Database">
        <a href="/trees" class="btn btn-info">Tree</a>
        <a href="/seeds" class="btn btn-warning">Seed</a>
      </div>
      <div class="col mb-2 float-end">
        <a href="/add_leaf" class="btn btn-success">Add A Leaf</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <!-- Success Alert -->
      <% if session[:session] %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <div><%= session[:success]%></div>
        <button type="button" class="btn-closed" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <!-- Clear the flash message -->
      <% session[:success] = nil %> <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-hover">
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
