<div class="container">
  <div class="row">
    <div class="col my-4">
      <h2>Edit A Seed</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
        <% if @errors.any? %>
            <% @errors.each do |error| %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <div><%= error %></div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% end %>
        <% end %>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col">
      <form action="/seeds/<%= @seed['id'] %>" method="post" enctype="multipart/form-data">
        <!-- Hidden Method -->
        <div class="mb-3">
          <input type="hidden" name="_method" value="post" />
        </div>

        <!-- Name Field -->
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" value="<%= @seed['name'] %>" />
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary float-end">Update</button>
      </form>
      <a class="btn btn-light" href="/seeds"></a>
    </div>
  </div>
</div>
